This will be a brief crash course in the basics of computer programming using a computer "language" called R. R is used every day to do real science.

We're going to write our code today in this coding notebook. This allows us to write R code on the internet, sort of like Google Docs.

Computer code is very specific instructions for what the computer should do. In this notebook, each bit of code or instructions is inside of a "cell." You can make the computer follow the instructions in a cell by pressing the "Play" button in the top-left corner. We call this "running" a cell.

Getting instructions out of order can be very confusing for people, and it's the same for computers. If you run cells out of order the computer might get confused and not work right.

What happens if you run the first cell below?

# **A Crash Course on Computer Programming**

In [ ]:
1+1

What about this cell?

In [ ]:
print("Hello! We're so good at programming!!!")

Just like how you have to follow very specific grammar rules when you write an essay in English class, you have to follow very specific rules when you write computer code. If you don't follow the grammar rules, the computer won't be able to read what you've written and follow your instructions.

Each computer language has different rules. Today we are going to learn some of the rules of R.

# The Rules of R

Like any written language, computer programming languages have their own sets of rules. When you learn to write in English class, you are taught how to spell words correctly, how to follow grammatical rules, and how to use punctuation. Your teacher might give you a lower grade on your writing assignments if you spell a word incorrectly or forget to add a comma or apostrophe in the correct places.

Just like your teacher grades your homework, programming languages like R can be very picky about the code that you write. If you don't follow the right grammatical rules and spelling in your code, the computer will not run, and it may give you error messages which hint at what you did wrong. To avoid getting these errors and to make sure our code runs properly, let's discuss the grammar of writing R code.

# R spelling
There are many "built-in" functions that have specific names that need to be spelled correctly. Here in this Google CoLab notebook, these words are easy to spot because they turn a different color once you type them out. Some examples of this are: `for`, `in`, and `function`. When you see these words in the code, they will appear a different color than the rest of the words. This shows that R recognizes these words, and knows what to do when you type them out. We will go over more examples of this in the code.

You will also need to spell words correctly if you have named a variable. Variables work in R the same way they do in math. You can think of them as nicknames for some other piece of information. Check out this code for an example:

In [ ]:
my_variable <- "MY_NAME"
my_variable2 <- 4
another_variable <- c(1,2,3)

In [ ]:
my_variable
my_variable2
another_variable

You can name variables almost anything you want with a few exceptions:

Variables can't have spaces or punctuation in the name. Use the underscore character _ instead.
Variables can't start with a number. If you try to name a variable something like 2_variable, R will give you an error. Use names like variable_2 instead.
Some words are reserved for R to use for function names! Be careful not to name your variable any words that are already R functions. You should be able to tell this if the word you type turns a different color in your editor.
Once you have named these variables, you can refer to them anytime you like in the code, but they need to have their names spelled correctly in order for R to find them (and of course you still need to follow the R grammar rules!).

Something you might notice is that to assign variables, we use a backwards arrow "<-" instead of an equal sign "=" like in other languages.

# R grammar
R uses punctuation just like any other written language. If you see a line of code that has any symbol such as "" ( , :, you need to keep these symbols there in order for the code to run. For example, this line of code will run with no problem:

In [ ]:
my_list <- c("a", "b", "c")

But this code will give you an error:

In [ ]:
my_list = a, b, c

# Let's start programming!
Now that we have learned some of the rules of R, let's try them out!

# Arithmetic
Computers are very good at doing arithmetic. We can do arithmetic using + - * /.

What will happen when I run the following cells of code?

In [ ]:
45 / 5

In [ ]:
6 * 20

In [ ]:
745 * 123 + 12

!!**Your Turn**!! There are an average of 30,000,000,000,000 cells in a human body. If there are 25 people in this room, how many human cells are in this room? Hint: Write some code to multiply 25 x 30000000000000

In [ ]:
####### YOUR CODE HERE #######

# Strings
Some words, letters, or text surrounded by "" or '' is called a string. Whenever we want to work with letters or words, we have to use strings.

In [ ]:
"Hello World!"

**!!Your Turn!!** Can you make a string with your name in it?

In [ ]:
####### YOUR CODE HERE #######

# Variables
Variables store information we want to use later. If we write a word without "" or '' around it, the computer thinks that's a variable name.

We put information into variables using `<-`

In [ ]:
coolest_school <- "UofC"

Once we have stored information inside of a variable, we use it in other bits of code. For example, what do you think the following cell will print out?

In [ ]:
print(paste0("Hello students of ", coolest_school, "!!"))

Something you might notice is that we used a `paste0` command to combine our text and variable before printing!

We can also do arithmetic with variables that contain numbers using `+ - / *`. Can you predict the output of this cell before you run it?

In [ ]:
firstnumber <- 5
secondnumber <- 4
thirdnumber <- 3.0
firstnumber * secondnumber

‼️**Your Turn**‼️ Multiplying `firstnumber` by `thirdnumber` instead. Before you run the cell, predict what the output will be. Is your prediction correct?

In [ ]:
####### YOUR CODE HERE #######

‼️**Your Turn**‼️ Can you make a variable with your name in it? There's some code to get you started below.

In [ ]:
####### YOUR CODE HERE #######

# Vectors, Indexing, & For Loops
Sometimes we want to store a bunch of information **together**. One way we can do that using a vector, which is a list where everything is the same type (for example, all characters or all numerical). We make a list using `c()` and putting the values we want to store in between, separted by commas. For example...

In [ ]:
colors <- c("red", "orange", "yellow", "green", "blue", "purple")
colors

We've seen how to put values *into* a vector. But what if we want to get a value back *out* of the vector?

Each value in a vector lives at an address called an **index**. To get the value that lives at index `i`, we use square brackets like this: `my_vector[i]`.

For example, to print the first color in the `colors` vector, we would use...

In [ ]:
colors[1]

Often we use computer code to do the similar tasks over and over. We can do this using a loop. The next cell shows how we can use a `for` loop to print out the color at each index in the vector.

In [ ]:
for (i in c(1,2,3,4,5)){
  print(paste0(colors[i]," is at index ",i))
}

‼️**Your Turn**‼️ Can you use indexing to print out your favorite color from the vector `colors`?

In [ ]:
####### YOUR CODE HERE #######
print(paste0("My favorite color is ", ))

**!!Your Turn!!** Write your own for loop iterating over each color in the list named `colors` from the previous code block.

In [ ]:
####### YOUR CODE HERE #######

# Functions
For loops are nice for doing really similar, simple tasks over and over.

Sometimes, though, we want to do complicated things over and over. One way to do this is using a **function**.

You can think of a function as a little machine. It takes in an **input** and **returns** an output.

Here's an example of a function. This function takes in some number represented by the variable name `var`. It will do some computations to `var` depending on whether `var` is less than or greater than 0.

In [ ]:
my_first_function <- function(var) {
  if (var < 0) {
    var <- 0
  } else {
    var <- var + 10
    var <- var / 12
    var <- var * 3.4
  }
  return(var)
}

Now we can use our function on some different inputs!

In [ ]:
my_first_function(-10)

In [ ]:
my_first_function(34)

In [ ]:
my_first_function(125)

‼️**Your Turn**‼️ Can you write a function that...
- Takes in a variable
- If the variable is less than 10, it divides the variable by 2
- Otherwise, it multiplies the variable by 3 and adds 1
- Returns the output

In [ ]:
####### YOUR CODE HERE #######

# Packages and Libraries
We've learned how to write R code, creat variables, and use functions. A lot of times, someone has already written a function for what we need, which can be found in an **R library or package**. These are a collection of pre-written functions that can help us perform tasks like data visualization or analysis so that we don't have to write all of our functions from scratch!

Before we use a library, we need to install it. Let's start by installing a package called ggplot2, which is a useful tool for making plots:

In [ ]:
install.packages("ggplot2")

Now that we've installed it, we load it. We need to do this every time we start a new R session:

In [ ]:
library(ggplot2)

If you're not sure how to use a library, R has built-in documentation:

In [ ]:
help(package = "ggplot2") # See all functions in the ggplot2 library
?ggplot # Help for a specific function

Now that we've learned some of the basics in R, let's apply this to some biology!



# Phylogenetics: DNA Decodes the Family Tree of Life
## Loading Necessary Helper files

<font color = "red"> **‼️You have to run cells in this section or else the rest of the activity won't work‼️**

This imports a bunch of functions that we've written to help you. Note: installing and loading the libraries might take a second!

In [ ]:
# Install and load necessary packages
install.packages('ape')
install.packages('ggplot2')
install.packages('tidyr')
library(ape)
library(ggplot2)
library(tidyr)

In [ ]:
# get needed functions we have prepared for you
# system('git clone https://github.com/UCCOMBO/Phylogenetics')
# Read the sequence table
sequence_table <- read.delim('https://raw.githubusercontent.com/UCCOMBO/Phylogenetics/refs/heads/main/sample_sequence_table.tsv', sep = "\t", header = TRUE, stringsAsFactors = FALSE)
# load a function to format data
source("https://raw.githubusercontent.com/UCCOMBO/Phylogenetics/refs/heads/main/format_fasta.R")
source("https://raw.githubusercontent.com/UCCOMBO/Phylogenetics/refs/heads/main/create_spp_data.R")

## Scientific Data Exploration

Let's pretend that you are a scientist from another planet. You want to figure out how similar different animals are to each other in a dataset you received from your human collaborators. You are familiar with your human collaborator, so you want to compare the other animals to them as a reference.

Your collaborator has sent you some basic data to analyze. They have sent you some information on traits/features the animals have as well as their DNA sequence.

### Exploring animal traits

Let's begin by looking at some of the traits/features the animals have and seeing what we may be able to learn about them.

In [ ]:
species_features <- data.frame("Mouse" = c(1, 1, 1, 0, 1), "Dolphin" = c(1, 1, 1, 0, 0),
                               "Worm" = c(0, 1, 0, 0, 0), "Human" = c(1, 1, 1, 1, 1),
                               "Clownfish" = c(1, 1, 0, 0, 0))
row.names(species_features) <- c("Bones", "Skin", "Lungs", "2 Legs", "Fur or Hair")

species_features

We're given a table of each species as well as information about some of their triats. The boxes with 1s indicate that the species has the trait, and the 0s indicate that the species does not have the trait.

Now, let's try to count up the total number of species with each feature.

In [ ]:
# Sum up total number of species with each feature and save in simpler table
sum_species <- data.frame("Features" = row.names(species_features),
                          "Count" = rowSums(species_features))
row.names(sum_species) <- NULL
sum_species

Great, now we have a table with these summed up values. Finally, let's try to create a bar plot to visualize the information on this table. From this you can start to get a sense of which features are distinct among these species.

We will use a package called `ggplot2` to make plots in this section. The code might look a little different than other code we've showed you - don't worry about it! R software developers use a wide range of grammar when creating these packages.

**Challenge**

See if you can pick up on how `ggplot` specifies the following:
- X and Y variables
- color of the plot
- type of plot
Can you make your own modifications to these plots? Ask your volunteer for more help!

In [ ]:
# Create bar plot
ggplot(sum_species, aes(x=Features, y=Count )) +
  geom_bar(stat = "identity", fill="blue") +
  theme_bw()

Let's say we were also given information about the heights / lengths of each of these species. Let's try to look at that data and see how we might plot it.

In [ ]:
species_lengths <- data.frame("Mouse" = c(5, 7.2, 6.5, 8, 5.3, 4.2, 6.1, 5.8, 6.9, 7.4),
                              "Dolphin" = c(60.0, 81.6, 114, 144, 372,
                                            280.8, 211.2, 124.8, 93.6, 134.4),
                              "Worm" = c(3, 5.5, 8.1, 8.4, 8.9, 13.7, 12.1, 9.4, 7.2, 10.4),
                              "Human" = c(52, 64, 69, 75.3, 76, 57, 72.1, 66, 56.4, 60.4),
                              "Clownfish" = c(3.9, 4.8, 5.9, 7.1, 6.4, 4.2, 6.8, 7, 6.1, 5.9))
species_lengths

As you can see, we again have a table summarizing different heights / lengths for 10 individuals from each species. A boxplot might be a good way to look at this data.

In [ ]:
# Reformat so that we have two columns containing the same data
species_length_reformat <- pivot_longer(species_lengths,
                                        cols = everything(),
                                        names_to = "Species",
                                        values_to = "Length")

# Create boxplot of all species
ggplot(species_length_reformat, aes(x=Species, y=Length)) +
  ylab("Length (inches)") +
  geom_boxplot() +
  theme_bw()

As expected, the dolphins seem to be the longest, followed by the humans, with the mouse, worm, and clownfish heights being much smaller. What happens if we try to zoom in on just the height of the humans?

In [ ]:
# Zoom in on just humans
human_only <- data.frame("Species" = rep("Human", 10),
                         "Length" = c(52, 64, 69, 75.3, 76, 57, 72.1, 66, 56.4, 60.4))

ggplot(human_only, aes(x=Species, y=Length)) +
  geom_boxplot() + ylab("Length (inches)") +
  theme_bw()

Now we're able to see that the range of the human heights seems to go from about 50 inches to 80 inches much more clearly, with a median height around 65 inches.

## Exploring DNA sequences
Now that we've taken a look at the trait information we have, let's start to look at the DNA! Like before, we can get a sense of what's in the data by looking at the first few lines of the dataframe using the command `head`.

In [ ]:
head(sequence_table)

As you can see, we have a table of DNA sequences for several different animal species

Now that we have a sense of what's in the dataframe, we also want to know how many rows and columns are in the data. We can do this using a command to find the dimension called `dim`, which returns the number of rows and columns.

**How many genes (rows) and species (columns) do we have?**

In [ ]:
dim(sequence_table)
print(paste0("The number of genes is: ", nrow(sequence_table))) # number of genes
print(paste0("The number of species is: ", ncol(sequence_table))) # number of species

**What kinds of species do we have?**

In [ ]:
colnames(sequence_table)

We can see that we have a dataframe where the rows are genes and the columns are species. That means each cell in the dataframe is the gene sequence for a particular species. We can access a particular cell by *indexing*. Let's say we want to get all of the gene sequences for dolphin species.

In [ ]:
dolphin_sequences <- sequence_table$dolphin
print(dolphin_sequences)

What if we want to just get the dolphin's sequence for gene 1?

In [ ]:
dolphin_gene1 <- dolphin_sequences[1]
print(dolphin_gene1)

**How many nucleotides are in these genes?**

If we want to see how long the dolphin's sequence for gene 1 is (i.e. the number of nucleotides in gene 1), we can use `nchar()` to get the number of characters or letters.

In [ ]:
nchar(dolphin_gene1)

Let's take another look at the sequences for each species. Based on the sequences, can you tell which species are more closely related? How do you think you can determine how closely species are related?

In [ ]:
sequence_table

We can measure how similar or different two species are based on the number of differences in nucleotides between sequences -- it's pretty hard to tell just by looking at the sequences visually though.

Let's say that we wanted to get the number of differences in nucleotide sequence between human and mouse for gene 1 (both sequences are the same length).

Human: GACTAATTCGGGAGTG

Mouse: GAGTAATTTGGGAGTG

We want to count how many positions are different between these two sequences. Since this can take a long time to do manually and we want to be able to do this for any pair of species (not just human and monkey) or any gene, this is something we might want to write a function for.

Sometimes, it can be helpful to think through the logic of our problem step by step before writing actual code. We can do this by writing what we call **pseudocode**, which helps us think about how we would write this into a function without getting caught up in making sure the specific code works.

Discuss with your neighbors each step you would take to get the number of different nucleotides in the sequences. How can we keep track of the number of differences (hint: remember variables)?

In [ ]:
# Insert your steps

Here is one way we could do it:

1. Pick two sequences (with equal lengths) to compare.
2. Align them letter by letter.
3. Create a variable to count the differences. (Start at 0)
4. Loop through each position in the sequence:
If the letters at the same position are different, increase the count (remember `for` loops?)
5. At the end, print the number of differences.

Now that we've written out the general steps, we can try to translate these steps into R code:

In [ ]:
######## YOUR CODE HERE #########

As we just saw, it can take a lot of effort to write our own functions.

Luckily, the `ape` package has a pre-written function called `dist.gene()` that can calculate the differences between sequences for us, so we don't have to write our own!

Let's try looking at the differences between species for gene 1.

In [ ]:
# Extract the first row as a dataframe
gene1_sequences <- sequence_table[1, , drop = FALSE]  # Keeps it as a dataframe
print(gene1_sequences)
# format this into a fasta file format
gene_fasta <- get_fasta_format(gene1_sequences)

# create distance matrix
distance_matrix <- dist.gene(gene_fasta)
distance_matrix

We can represent the distance or similarity between species using a **phylogenetic tree** based on the matrix above. How would you draw this tree on paper?

Now we can check our work using a built-in function from the `ape` package!

In [ ]:
# build the phylogenetic tree
nj_tree <- bionj(distance_matrix)

# plot tree
plot.phylo(nj_tree)
plot.phylo(nj_tree, use.edge.length=F)

When we look at the tree, each branch indicates a point at which there is a change in the sequence between species.

But this phylogenetic tree was just for one gene! Organisms have many genes, and some genes might be more conserved (similar) than others. In order to compare overall how closely related species are, we would need to take into account all the genes.  To do this, we can compare the whole genome (or all the genes put together).

How would you build this tree for all the genes?

Let's start by combining all the genes for each species to make their "genomes" and store them in a `data.frame`:

In [ ]:
# Make dataframe to store all species and their genomes
species_genomes_df <- data.frame(Species = character(), Genome = character(), stringsAsFactors = FALSE)

# Loop over species (columns) and concatenate sequences using rbind()
for (species in colnames(sequence_table)) {
  # Combine all sequences for the current species
  genome_sequence <- paste(sequence_table[[species]], collapse = "")

  # Append to dataframe using rbind
  species_genomes_df <- rbind(species_genomes_df, data.frame(Species = species, Genome = genome_sequence))
}

print(species_genomes_df)

Now let's recreate our phylogenetic tree using the entire genome!

In [ ]:
# calculate the distances between each genome (same as we did for genes )

genome_mat = genome_fasta_format(species_genomes_df)
genome_dist_mat = dist.gene(genome_mat)
genome_dist_mat

There are many more differences between these organisms when we compare the whole genome! How does the tree look? Use the same function from above to plot a new phylogenetic tree. You can pick whichever "edge lengths" option looks best to you.

In [ ]:
######## YOUR CODE HERE #########

Some questions to discuss with your neighbors:


*  Is this tree the same as what we saw using just gene 1? If not, why might they be different?
*  Based on the overall genomes, which organisms are most closely related? Does this make sense to you based on what you know about these organisms?
* How does it compare to what you saw looking at the traits from the metadata visualizations?

Sometimes, scientists are faced with this problem in real life - traits and small differences between organisms can be tricky to measure at a large scale. Sometimes, there is variation in these traits depending on who took the measurement or what instrument they used. Using DNA sequencing and looking at the simple differences between organisms has changed the way scientists see the world!